.btn-group {
  display: flex;
  justify-content: flex-start;
}
.btn {
  padding: .4rem;
  border-radius: 4px;
  color: white;
}
.btn-info {
  background-color: green;
}
.btn-danger {
  background-color: red;
}
.btn-error {
  padding: 4px;
  border: yellow solid 4px;
  background-color: red;
}
.btn-buscar, .btn-primary, .btn-crear  {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-nuevo{
  margin: 1rem 0px .5rem 1rem;
  background-color: #007bff;
  border-color: #007bff;
}
